# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
*.csv
*.tsv
*.zip
*.gz

# Ignore OS/system files
.DS_Store
Thumbs.db

